:root {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --brand-primary: #262861;
  --brand-accent: #FFCC33;
  --brand-button-hover: #F7931D;
  --white: #fff;
}

.slider-arrow {
  background-color: var(--brand-primary);
  border-radius: 100%;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  color: var(--white);
}

.slider-arrow:hover {
  background-color: var(--white);           
  color: var(--brand-primary);              
}

.primary-button {
  display: flex;
  width: 250px;
  flex-grow: 0;
  column-gap: 10px;
  color: var(--brand-primary);   
  background-color: var(--brand-accent);  
  font-family: var(--font-mono);
  font-weight: bold;                   
  font-size: 14px;                    
  padding: 16px 32px;
  line-height: 18px;
  border-radius: 34px;
  border-style: none;
  transition: all 0.3s ease;
  cursor: pointer;
  align-items: center;
  margin-top: auto;
}

.primary-button:hover {
  background-color: var(--brand-button-hover);                     
}

.splide__pagination.frost-button {
  position: relative; 
  justify-content: left;
  top: 10px; 
}